/* .vitepress/theme/style.css */
:root{
  --vp-c-brand-1: #000;
  --vp-c-brand-2: #000;
  --vp-c-brand-3: #000;

  
}

.dark:root{
  --vp-c-brand-1: #fff;
  --vp-c-brand-3: #fff;
  --vp-c-brand-2: #fff;  
  --vp-button-brand-text: #000;
}

.group {
  > :nth-child(n) {
    margin: 0 10px;
  }
}
.flex {
  display: flex;
}
